.forget-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* line-height: 5rem; */
  background-image: url('/src/assets/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.forget-inner-box {
  background-color: rgba(255, 255, 255, 0.92);
  padding: 2rem;
  opacity: 0.75;
  width: 50%;
  border-radius: 1.5rem;
  height: 40%;
  max-width: 500px;
}

.forget-text {
  margin-top: 2rem;
  padding: 0 3.2rem;
  text-align: justify;
}

.forget-input {
  padding: 0.75rem;
  border-radius: 1.5rem;
  border: 1px solid #7c7c7c;
  width: 100%;
  color: #7c7c7c;
}

.flex-1 {
  display: flex;
  justify-content: space-between;
}

.flex-2 {
  display: flex;
}

.icon-forget {
  /* background-color: #7c7c7c; */
  /* color: #386299; */
  /* opacity: 0.6; */
  font-size: 1.2rem;
  /* padding: 0.8rem; */
}

.icon-box {
  background-color: #386299;
  padding: 0.2rem;
  opacity: 0.5;
  border-radius: 50%;
}

.forget-input-box {
  position: relative;
  margin-top: 2rem;
}

.forget-icon {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  font-size: 1.2rem;
  color: #7c7c7c;
}

.btn-back {
  padding: 0rem 0.8rem;
  border-radius: 2rem;
  border: 1px solid #7c7c7c;
}

a {
  text-decoration: none;
}

.btn-ter {
  display: block;
    margin-top: 2.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #386299;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
  }